@using WebCuoiKy.Models
@using PagedList.Mvc;
@model PagedList.PagedList<WebCuoiKy.Models.SanPham>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        QUẢN LÝ SẢN PHẨM
    </div>
    <div style="margin-left:16px; margin-top: 5px;">
        <a href="@Url.Action("TrangChu","Admin")" class="btn btn-primary" role="button" style="background-color:cornflowerblue;"><span class="bi bi-arrow-left-short"> Trở về</span></a>
        <a href="@Url.Action("Create","SanPham")" class="btn btn-primary bi bi-plus" role="button" style="background-color:cornflowerblue;">Thêm</a>
    </div>
    <div class="card-body">
        <table style="width:100%;">
            <thead style="text-align:center;">
                <tr style="border: 1px solid black;">
                    <th style="border: 1px solid #808080;">Tên Sản Phẩm</th>
                    <th style="border: 1px solid #808080;">Ảnh Bìa</th>
                    <th style="border: 1px solid #808080;">Số Lượng</th>
                    <th style="border: 1px solid #808080;">Đơn Giá</th>
                    <th style="border: 1px solid #808080;">Mô Tả</th>
                    <th style="border: 1px solid #808080;">Chi Tiết</th>
                    <th style="border: 1px solid #808080;"></th>
                </tr>
            </thead>
            <tbody style="border: 1px solid #808080;">
                @foreach (var item in Model)
                {
                    <tr style="border: 1px solid #808080;">
                        <td style="border: 1px solid #808080; text-align: center;">@Truncate(item.TenSP, 50)</td>
                        <td style="border: 1px solid #808080; text-align: center;"><img src="~/img/@item.AnhBia" style="width:50px; margin-top:8px; margin-bottom:8px;" /></td>
                        <td style="border: 1px solid #808080; text-align: center;">@Html.DisplayFor(modelItem => item.SoLuong)</td>
                        <td style="border: 1px solid #808080; text-align: center;">@Html.FormatValue(item.DonGia, "{0:0,00}")đ</td>
                        <td style="border: 1px solid #808080; padding-left:5px;">@Html.Raw(Truncate(item.MoTa, 80).ToString())</td>
                        <td style="border: 1px solid #808080;padding-left:5px;">@Html.Raw(Truncate(item.ChiTiet, 80).ToString())</td>

                        <td style="text-align:center; width:150px;">
                            <a href="@Url.Action("Edit","SanPham", new {id = item.MaSP})" class="btn btn-xs btn-warning" role="button"><i class="fa-solid fa-pen-to-square" style="color:white;"></i>  </a> |
                            <a href="@Url.Action("Delete", new {id = item.MaSP})" class="btn btn-xs btn-danger" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))
    </div>
    <style>
        .MenuTrang {
            display: inline;
            text-align: center;
            margin-left: 50%;
            
        }
    </style>
</div>

