@using WebCuoiKy.Models;

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<style>
    .tieude {
        background-color: #FFEA00;
        text-align: center;
        height: 45px;
        padding-top: 4px;
        margin-left: 10px;
        box-shadow: 2px 3px 3px #AAA;
    }

    i {
        color: black;
    }

        i:hover {
            color: red;
        }

    .btn-primary:hover {
        color: white;
    }
</style>
<div class="container-fluid pt-5" style="background-color:white; width:91%;">
    <div class="text-center mb-4" style="margin-top:-48px; margin-left:-13px; ">
        <div class="tieude">
            <h3>CHI TIẾT SẢN PHẨM</h3>
        </div>
        <div class="container-fluid py-5">
            <!--Phần chi tiết-->
            <div class="row px-xl-5">
                <div class="col-lg-5 pb-5">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner border">
                            <div class="carousel-item active">
                                <img class="w-100 h-100" src="~/img/@Model.AnhBia" alt="Image">
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-7 pb-5 text-lg-left">
                    <h3 class="font-weight-semi-bold">@Model.TenSP</h3>
                    <h5 class="font-weight-semi-bold mb-1">@Html.FormatValue(Model.DonGia, "{0:0,00}")<span>đ</span></h5>
                    <div class="d-flex align-items-center mb-2 pt-1">
                        <p style="font-size:20px; padding-top:10px;">Số lượng: </p>
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus bg-white border" style="border:1px solid red;">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control text-center" min="1" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus bg-white border" style="border:1px solid red;">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3" style="background-color: #FFEA00; border: 1px solid #d7d7d7;">
                            <i class="fas fa-shopping-bag mr-1"></i>
                            <a href="@Url.Action("ThemGioHang", "GioHang", new { ms = Model.MaSP, url = Request.Url.ToString() })" style="text-decoration:none;">Thêm vào giỏ hàng</a>
                        </button>
                    </div>
                    <p class="mb-2" style="color:black;">Lượt xem: @Model.LuotXem</p>
                    <p class="mb-3" style="color:black;">
                        @Html.Raw(Model.MoTa.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
                    </p>
                    <div class="d-flex pt-2">
                        <p class="text-dark font-weight-medium mb-0 mr-2">Chia sẽ:</p>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Phần thông tin-->
            <div class="row px-xl-5">
                <div class="col">
                    <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Mô tả</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Thông tin</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Mô tả sản phẩm</h4>
                            <p class="mb-3" style="color:black;">
                                @Html.Raw(Model.MoTa.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
                            </p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Thông tin chi tiết</h4>
                            <p style="color:black">
                                @Html.Raw(Model.ChiTiet.ToString().Replace("\n \n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
                            </p>

                        </div>
                        @Html.Action("DanhGiaPartial","Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section SliderPartial{
    @Html.Action("SliderPartial", "Home")
}