@using WebCuoiKy.Models

@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Kết quả";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@section SliderPartial
{
    @Html.Action("SliderPartial","Home")
    }

<style>
    .shapes {
        width: 400px;
        height: 50px;
    }

    .content {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        width: 400px;
    }

    .white {
        color: white;
    }

    .datmua {
        display: flex;
        background-color: yellow;
        border-radius: 1.5em;
        height: 35px;
        width: 100%;
        font-weight: 500;
    }

        .datmua:hover {
            background-color: #28a745;
        }

    a.hieuung:hover {
        color: white;
    }
</style>

<div class="container-fluid pt-5" style="background-color:white; width:91%;">
    <div class="text-center mb-4" style="margin-top:-48px; margin-left:-13px; ">
        <div class="shapes">
            <div class="content" style="background-color:#FFEA00; width:100%; margin-left:-2px; height:45px;">
                <h5 class="section-title px-5" style="padding-top:13px; text-align:left; ">KẾT QUẢ TÌM KIẾM</h5>
            </div>
        </div><div style="width: 100%; border-bottom: 1px solid #bfbfbf; margin-top:-5px; "></div>
              <div class="row px-xl-5 pb-3" style="width:90%; margin-left:60px; margin-top:5px; background-color:white;">
                  @foreach (var sp in Model)
                  {
                      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                          <div class="card product-item border-1 mb-4">
                              <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 border-bottom-0">
                                  <img class="img-fluid w-100" src="~/img/@sp.AnhBia" alt="">
                              </div>
                              <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                  <h6 class="text-truncate mb-3 bg-light"><a href="@Url.Action("ChiTietSanPham", "Home", new { id = sp.MaSP })" style="text-decoration:none;">@sp.TenSP</a></h6>
                                  <div class="d-flex justify-content-center">
                                      <h6>@string.Format("{0:0,00}", sp.DonGia)đ</h6>
                                  </div>
                              </div>
                              <div class="card-footer d-flex justify-content-between bg-light border">
                                  <div class="datmua">
                                      <div style="background-color:red; border-radius:2em;">
                                          <img src="~/img/icon-muangay.png" />
                                      </div>
                                      <div style="margin-left:5px; margin-top:5px;">
                                          <a href="@Url.Action("ThemGioHang","GioHang", new {ms = sp.MaSP ,url = Request.Url.ToString()})" style="text-decoration:none;" class="hieuung">Thêm Vào Giỏ Hàng</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  }
              </div>
        </div>
    </div>


