@model WebCuoiKy.Models.LienHe

@{
    ViewBag.Title = "LienHe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>

<div class="card mb-4" style="margin-left:20px;">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        THÔNG TIN LIÊN HỆ
    </div>
    @*Thêm thuộc tính cho form để upload ảnh*@
    @using (Html.BeginForm("LienHe", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div style="margin-left:16px; margin-top: 10px; margin-bottom:-15px;">
            <a href="@Url.Action("TrangChu","Admin")" class="btn btn-primary" role="button" style="background-color:#dd3a49;"><span class="bi bi-arrow-left"> Quay lại</span></a>
            <button type="submit" class="btn btn-primary" style="background-color: #2008cff"><i class="fas fa-save"></i> Lưu</button>
        </div>
        <div class="card-body">

            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        <label class="control-label col-md-2 py-2">Địa chỉ:</label>
                        <textarea name="sDC" id="mota" style="width:500px;">@Model.DiaChi</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label class="control-label col-md-2 py-2">Vị trí:</label>
                        <input type="text" size="60" name="sVT" required value="@Model.ViTri"/>
                    </div>
                </div>
                <div class="form-group py-2">
                    <div class="col-md-10">
                        <label class="control-label col-md-2">Email:</label>
                        <input type="text" name="sEmail" required size="40" value="@Model.Email" />
                    </div>
                </div>
                <div class="form-group py-2">
                    <div class="col-md-10">
                        <label class="control-label col-md-2">Điện thoại:</label>
                        <input type="text" name="sDT" required size="40" value="@Model.DienThoai"/>
                    </div>
                </div>
                <div class="form-group py-2">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary" style="background-color:#2008cff;"><i class="fas fa-save"></i> Lưu </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
